<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-mediapicker-dmcbig" version="2.1.6">
  <name>MediaPicker</name>
  <js-module name="MediaPicker" src="www/MediaPicker.js">
    <clobbers target="window.MediaPicker"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="MediaPicker">
        <param name="android-package" value="com.dmc.mediaPickerPlugin.MediaPicker"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <config-file parent="/manifest" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>
    <framework src="com.dmcBig:mediapicker:+"/>
    <source-file src="src/android/MediaPicker.java" target-dir="src/com/dmc/mediaPickerPlugin"/>
  </platform>


  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="MediaPicker">
        <param name="ios-package" value="MediaPicker"/>
      </feature>
    </config-file>
    <source-file src="src/ios/MediaPicker.m"/>
    <header-file src="src/ios/DMCMediaPicker/CollectionViewCell.h" />
    <source-file src="src/ios/DMCMediaPicker/CollectionViewCell.m"/>
    <header-file src="src/ios/DMCMediaPicker/DmcPickerViewController.h" />
    <source-file src="src/ios/DMCMediaPicker/DmcPickerViewController.m"/>

    <resource-file src="src/ios/DMCMediaPicker/dmcPicker.bundle"/>
    <resource-file src="src/ios/DMCMediaPicker/en.lproj"/>
    <resource-file src="src/ios/DMCMediaPicker/zh-Hans.lproj"/>

    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string></string>
    </config-file>

    <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
      <string></string>
    </config-file>  
  </platform>
</plugin>
