<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-mediapicker-dmcsdk" version="2.5.1">
  <name>MediaPicker</name>
  <js-module name="MediaPicker" src="www/MediaPicker.js">
    <clobbers target="window.MediaPicker"/>
  </js-module>

  <platform name="android">
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:requestLegacyExternalStorage="true" />
    </edit-config>
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="MediaPicker">
        <param name="android-package" value="com.dmc.mediaPickerPlugin.MediaPicker"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <config-file parent="/manifest" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:minSdkVersion = "33"/>
        <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"  android:minSdkVersion = "33"/>
        <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"  android:minSdkVersion = "33"/>
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    </config-file>

    <framework src="com.github.DmcSDK:MediaPickerPoject:v4.2"/>
    <source-file src="src/android/MediaPicker.java" target-dir="src/com/dmc/mediaPickerPlugin"/>
    <source-file src="src/android/FileHelper.java" target-dir="src/com/dmc/mediaPickerPlugin"/>
    <resource-file src="src/android/Library/res/values-tr/multiimagechooser_strings_tr.xml" target="res/values-tr/multiimagechooser_strings_tr.xml"/>
    <resource-file src="src/android/Library/res/values-de/multiimagechooser_strings_de.xml" target="res/values-de/multiimagechooser_strings_de.xml"/>
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="MediaPicker">
        <param name="ios-package" value="MediaPicker"/>
      </feature>
    </config-file>
    <source-file src="src/ios/MediaPicker.m"/>
    <header-file src="src/ios/DMCMediaPicker/CollectionViewCell.h" />
    <source-file src="src/ios/DMCMediaPicker/CollectionViewCell.m"/>
    <header-file src="src/ios/DMCMediaPicker/DmcPickerViewController.h" />
    <source-file src="src/ios/DMCMediaPicker/DmcPickerViewController.m"/>
    <header-file src="src/ios/DMCMediaPicker/PreviewCell.h" />
    <source-file src="src/ios/DMCMediaPicker/PreviewCell.m"/>
    <header-file src="src/ios/DMCMediaPicker/PreviewViewController.h" />
    <source-file src="src/ios/DMCMediaPicker/PreviewViewController.m"/>  
    <header-file src="src/ios/DMCMediaPicker/AlbumListView.h" />
    <source-file src="src/ios/DMCMediaPicker/AlbumListView.m"/>  

    <header-file src="src/ios/DMCMediaPicker/FLAnimatedImage/FLAnimatedImage.h" />
    <source-file src="src/ios/DMCMediaPicker/FLAnimatedImage/FLAnimatedImage.m"/>   
    <header-file src="src/ios/DMCMediaPicker/FLAnimatedImage/FLAnimatedImageView.h" />
    <source-file src="src/ios/DMCMediaPicker/FLAnimatedImage/FLAnimatedImageView.m"/>         

    <resource-file src="src/ios/DMCMediaPicker/dmcPicker.bundle"/>
    <resource-file src="src/ios/DMCMediaPicker/en.lproj"/>
    <resource-file src="src/ios/DMCMediaPicker/zh-Hans.lproj"/>
    <resource-file src="src/ios/DMCMediaPicker/es.lproj"/>
    <resource-file src="src/ios/DMCMediaPicker/pt-BR.lproj"/>
    <resource-file src="src/ios/DMCMediaPicker/pt-PT.lproj"/>
    <resource-file src="src/ios/DMCMediaPicker/tr.lproj"/>
    <resource-file src="src/ios/DMCMediaPicker/de.lproj"/>
    <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
      <string>$IOS_PHOTO_LIBRARY_USAGE_DESCRIPTION</string>
    </config-file>  
  </platform>
</plugin>
